{% load wagtailcore_tags basic_tags %}
<div class="section-{{ value.heading|slugify }}">
    <h2>{{ value.heading }}</h2>
    {% with page_chosen=value.page.specific %}
        {% for child_page in page_chosen.get_children.live.in_menu|limit:value.count %}
            <div>
                <h3><a href="{{ child_page.url }}">
                    {{ child_page.title }}
                </a></h3>
                {% if child_page.specific.excerpt %}
                    {{child_page.specific.excerpt|richtext}}
                {% else %}
                    {% with first_block=child_page.specific.body|first %}
                        {{ first_block.value|truncatechars:300|richtext }}
                    {% endwith %}
                {% endif %}
            </div>
        {% endfor %}
    {% endwith %}
</div>
