{% load wagtailcore_tags basic_tags wagtailimages_tags %}

{% with page_chosen=value.page.specific %}

<section class="section-{{ value.heading|slugify }}">
    <div class="mb-4">
        <h2>{{ value.heading }}</h2>
        <a href="{{page_chosen.url}}">View all</a>
    </div>

    {% if value.page.content_type.model == "newsindexpage" %}

        {% include "news/includes/news_listing.html" with hide_excerpt=True h3_headings=True news_items=page_chosen.get_children.live.in_menu|limit:value.count %}

    {% else %}

        {% for child_page in page_chosen.get_children.live.in_menu|limit:value.count %}
            <div class="position-relative pb-3">
                {% if child_page.thumbnail %}
                    {% picture child.thumbnail format-{avif,webp,jpeg} fill-420x200 style="width: 100%; max-height:200px;object-fit:cover" %}
                {% endif %}
                <a href="{{ child_page.url }}" class="stretched-link">
                    <h3>{{ child_page.title }}</h3>
                </a>
                {% if child_page.specific.excerpt %}
                    {{child_page.specific.excerpt|richtext}}
                {% else %}
                    {% with first_block=child_page.specific.body|first %}
                        {{ first_block.value|truncatechars:300|richtext }}
                    {% endwith %}
                {% endif %}
            </div>
        {% endfor %}
{% endif %}
    </section>
{% endwith %}