{% extends "base/base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
    <link href="{% static "base/css/home_page.css" %}" rel="stylesheet" type="text/css"/>
{% endblock extra_css %}

{% block content %}
    {% load wagtailuserbar %}
    {% wagtailuserbar %}

    {% if page.cta_heading or page.cta_text or page.cta_button_text or page.cta_background_image %}
        <section id="homectasection" class="py-5 text-center text-bg-dark {% if page.cta_darken_image %}cta-darkened{% endif %}" style="background-image: url('{% image page.cta_background_image original as bg_img %}{{ bg_img.url }}')">
            <div class="container">
                <div class="row py-lg-5">
                    <div class="col-lg-6 col-lg-8 mx-auto">
                        <h2 class="">{{page.cta_heading}}</h2>
                        <p class="lead text-body-secondary">{{page.cta_text|richtext}}</p>
                        {% if page.cta_button_link and page.cta_button_text %}
                            <p><a href="{{page.cta_button_link}}" class="btn btn-light my-2">{{page.cta_button_text}}</a></p>
                        {% elif page.cta_button_page and page.cta_button_text %}
                            <p><a href="{{page.cta_button_page.url}}" class="btn btn-light my-2">{{page.cta_button_text}}</a></p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

    {% include "base/includes/body.html" with center_body=True %}

    {# Dynamic page sections #}
    {% for section_block in page.sections %}
        <div class="{% if forloop.counter0|divisibleby:2 %}bg-primary text-bg-dark white-links{% endif %} py-5">
            <div class="container-sm">
                {{ section_block }}
            </div>
        </div>
    {% endfor %}
{% endblock content %}
