{% extends "base/base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-news-index-page{% endblock %}

{% block extra_css %}{% endblock extra_css %}

{% block content %}
    {% if page.body %}
        {% include "base/includes/body.html" %}
    {% else %}
        <div class="container-sm pb-5"></div>
    {% endif %}

    <div class="pB-5">
        <div class="container-sm">
            

            {% include "news/includes/news_listing.html" with news_items=page_obj %}

            <nav aria-label="News index pagination">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        {% if not page_obj.previous_page_number == 1 %}
                            <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
                        {% endif %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
                    {% endif %}

                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="#">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
                    </li>

                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
                        {% if not page_obj.next_page_number == page_obj.paginator.num_pages %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
                        {% endif %}
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
{% endblock content %}
