a{
    @extend .focus-ring !optional;
}
.smaller-text{
    font-size: smaller;
}
.bg-primary .breadcrumb{
    --bs-breadcrumb-divider-color: #bababa;
    --bs-breadcrumb-item-active-color: #bababa; 
    --bs-link-color: #bababa; 
    --bs-link-color-rgb: 186,186,186;
    --bs-link-hover-color: #ffffff;
    --bs-link-hover-color-rgb: 255, 255, 255;
}

header {
    .nav-link{
        color: rgba(255, 255, 255, 0.85);
        border-color: rgba(255, 255, 255, 0.35);
        &:hover{
            border-bottom: 2px solid rgba(255, 255, 255, 0.35);
            color: white;
        }
        @media (min-width: 768px) {
            &.active{
                border-bottom: 2px solid white;
            }
        }
    }
}
.container-sm{
    overflow: auto;
}
img.richtext-image.full-width {
    max-width: 100%;
    height: auto;
}
img.richtext-image.left{
    float: left !important;
}
img.richtext-image.right{
    float: right !important;
}
.news-listing{
    a{
        display: block;
        text-decoration: none;
        color: var(--bs-body-color);
        &:hover{
            text-decoration: underline;
            color: var(--bs-link-hover-color);
        }
    }
    article{
        position: relative;
    &:hover{
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
    }}
}
.text-bg-dark.white-links{
    a{
        text-decoration: none;
        color: white;
        &:hover{
            text-decoration: underline;
            color: white;
        }
    }
}
.services-listing .card{
    // background-color: var(--bs-secondary-bg);
    // background-color: var(--bs-primary-bg-subtle);
    // background-color: var(--bs-info-bg-subtle);
    // @extend .shadow-sm;
    &:hover{
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
    }
    a{
        display: block;
        text-decoration: none;
        color: var(--bs-body-color);
        &:hover{
            color: var(--bs-link-hover-color);
            text-decoration: underline;
        }
    }
}