#homectasection{
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 0 1px 8px black;
}
#homectasection.cta-darkened::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Adjust opacity for darkness */
    z-index: 1;
}
#homectasection.cta-darkened > * {
    position: relative;
    z-index: 2; /* Ensures content stays above the dark layer */
}
#homectasection a{
    text-shadow: none;
}