{% extends "base/base.html" %}
{% load static wagtailcore_tags basic_tags %}


{% block body_class %}template-standardpage{% endblock %}

{% block extra_css %}{% endblock extra_css %}

{% block content %}
    <div class="py-5">
        {% for block in page.body %}
            <div class="container-sm">
                {{ block }}
            </div>
        {% endfor %}
    </div>
    
    {% if page.show_nested_children and page.get_children.exists %}
    <div class="pb-5">
        <div class="container-sm">
            <h2>Further Reading</h2>
            <ul>
                {% render_nested_pages page page.nested_children_depth %}
            </ul>
        </div>
    </div>
    {% endif %}

    {% if services %}
        <div class="container-sm pb-5">
            <h2>Services</h2>
            {% include "services/includes/services-listing.html" %}
        </div>
    {% endif %}
{% endblock content %}
