{% load wagtailcore_tags %}
{% if services %}
    <ul class="services-listing list-unstyled row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 g-5">
        {% for page in services %}
        <li class="col">
            <article class="card">
                <div class="card-body">
                    <a href="{{ page.url }}" class="stretched-link">
                        <h3 class="h4 card-title">{{ page.title }}</h3>
                    </a>
                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                    {% if page.service_category_additions.all %}
                        <ul class="list-inline">
                            {% for service_addition in page.service_category_additions.all %}
                                <li class="list-inline-item">
                                    <span class="badge text-bg-secondary">
                                        <i class="fa-solid fa-tag fa-sm"></i>
                                        {{service_addition.category.name}}
                                    </span>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% comment %} {% if page.division_additions.all %}
                        <ul class="list-unstyled">
                            {% for division_addition in page.division_additions.all %}
                                <li class="list-inline-item">
                                    Div: {{division_addition.division.name}}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% if page.funder_policy_additions.all %}
                        <ul class="list-unstyled">
                            {% for policy_addition in page.funder_policy_additions.all %}
                                <li class="list-inline-item">
                                    Pol: {{policy_addition.funder_policy.name}}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %} {% endcomment %}
                </div>
            </article>
        </li>
        {% endfor %}
    </ul>
{% endif %}
