{% load wagtailcore_tags %}
{% if services %}
    <h2>Results</h2>
    <small>{{services|length}} results</small>

    <ul class="services-listing list-unstyled row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 g-5">
        {% for page in services %}
        <li class="col">
            <article class="card" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="h4 card-title">{{ page.title }}</h3>
                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                    {% if page.service_category_additions.all %}
                    <ul>
                        {% for service_addition in page.service_category_additions.all %}
                        <li class="category category-{{ service_addition.category.slug }}">
                            <!-- <a href="{% pageurl page.get_parent %}category/{{ service_addition.category.slug }}"> -->
                                {{ service_addition.category.name }}
                                <!-- </a> -->
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="card-footer">
                        <a href="{{ page.url }}" class="stretched-link">Read More</a>
                    </div>
                </article>
            </li>
        {% endfor %}
    </ul>
{% endif %}
