{% extends "base/base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-service-page{% endblock %}

{% block extra_css %}{% endblock extra_css %}
{% block content %}
<div class="py-5">
    <div class="container-sm">
        <div class="pb-5">
            {% for block in page.body %}
                {{ block }}
            {% endfor %}

            {% if page.service_url %}
                <div class="text-center">
                    <a class="btn btn-primary" href="{{ page.service_url }}" role="button">Access {{page.title}}</a>
                </div>
            {% endif %}
        </div>

        <div class="py-3">
        {% with parent_url=page.get_parent %}
        {% pageurl parent_url as parent_page_url %}
        <dl class="row">
            {# url #}
            {% if page.service_url %}
                <dt class="col-sm-3">URL</dt>
                <dd class="col-sm-9">
                    <a class="mb-3" href="{{ page.service_url }}">{{clean_url}}</a>
                </dd>
            {% endif %}
            {# phases #}
            {% if page.research_lifecycle_phase_additions.all %}
                <dt class="col-sm-3">Phase</dt>
                <dd class="col-sm-9">
                    <ul class="list-inline">
                        {% for research_lifecycle_phase_addition in page.research_lifecycle_phase_additions.all %}
                            <li class="list-inline-item">
                                <a class="btn btn-sm btn-primary" href="{{ parent_page_url }}phase/{{ research_lifecycle_phase_addition.phase.slug }}">
                                    {{research_lifecycle_phase_addition.phase.name}}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </dd>
            {% endif %}
            {# CATEGORIES #}
            {% if page.service_category_additions.all %}
                <dt class="col-sm-3">Category</dt>
                <dd class="col-sm-9">
                    <ul class="list-inline">
                        {% for service_addition in page.service_category_additions.all %}
                            <li class="list-inline-item">
                                <a class="btn btn-sm btn-secondary" href="{{ parent_page_url }}category/{{ service_addition.category.slug }}">
                                    <i class="fa-solid fa-tag"></i>
                                    {{service_addition.category.name}}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </dd>
            {% endif %}
            {# DIVISION division_additions #}
            {% if page.division_additions.all %}
                <dt class="col-sm-3">Division</dt>
                <dd class="col-sm-9">
                    <ul class="list-unstyled">
                        {% for division_addition in page.division_additions.all %}
                            <li class="list-inline-item">
                                <a class="" href="{{ parent_page_url }}division/{{ division_addition.division.slug }}">
                                    {% comment %} <i class="fa-solid fa-building"></i> {% endcomment %}
                                    {{division_addition.division.name}}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </dd>
            {% endif %}
            {# FUNDER POLICIES funder_policy_additions #}
            {% if page.funder_policy_additions.all %}
                <dt class="col-sm-3">Funder Policy</dt>
                <dd class="col-sm-9">
                    <ul class="list-unstyled">
                        {% for funder_policy_addition in page.funder_policy_additions.all %}
                            <li class="list-inline-item">
                                <a class="" href="{{ parent_page_url }}funder_policy/{{ funder_policy_addition.funder_policy.slug }}">
                                    {% comment %} <i class="fa-solid fa-hands-holding-circle"></i> {% endcomment %}
                                    {{funder_policy_addition.funder_policy.name}}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </dd>
            {% endif %}
        {% endwith %}
        </div>
    </div>
</div>
{% endblock content %}
