{% extends "base/base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-services-listing-page{% endblock %}

{% block extra_css %}{% endblock extra_css %}
{% block content %}

<div class="py-5">
    <div class="container-sm">
        
        {% for block in page.body %}
            {{ block }}
        {% endfor %}

        {% include "services/includes/services-filters.html" %}
        
        {% if services %}
            <h2>Results</h2>
            <small>{{services|length}} results</small>
            {% include "services/includes/services-listing.html" %}
        {% endif %}
    </div>
</div>

{% endblock content %}
